<%- include("header") -%> 
<h2>IT me</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt facere, incidunt ducimus sed vitae cupiditate nostrum rem unde enim, ipsam iste excepturi iure, earum sint natus facilis minus quaerat nulla.</p>
<%- include("footer") -%> 